# https://dart.dev/guides/libraries/private-files
# Flutter/Dart/Pub related
/.dart_tool/*
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ related
/.idea/*
!/.idea/runConfigurations/
/*.iml

# mason related
/.mason

# Lint log
/custom_lint.log

# https://github.com/felangel/mason/issues/947
# `mason get`すると内容が絶対パスに書き換わるためバージョン管理しない
/mason-lock.json

# firebase
/.firebase
/firebase-debug.log

/.fvm

# FVM Version Cache
.fvm/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
